* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root {
    --background-color-form : #3a415a;
    --background-color-library: #cbdad5;
    --background-color-button-lido: #699f73;
    --background-color-button: #566981;
    --text-color: #1a1a28;
    --background-color--delete-button: #815656;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
}

.header {
    text-align: center;
    align-content: center;
    padding: 3%;
    height: 100%;
    width: 30vw;
    background-color: var(--background-color-form);
    color: var(--background-color-library);
    box-shadow: inset -2px 0 2px var(--background-color-library);
}
form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }

button {
    padding: 10px;
    background-color: var(--background-color-button);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .myLibrary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    gap: 3%;
    width: 70vw; 
    padding: 3%;
    text-align: center;
    background-color: var(--background-color-library);
  }

.book {
    align-content: center;
}

.book > button {
    margin: 2%;
}

.book > .deleteButton {
    background-color: var(--background-color--delete-button);
}

.lido {
    background-color: var(--background-color-button-lido);
}