* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.header {
    text-align: center;
    align-content: center;
    padding: 3%;
    height: 100%;
    width: 30vw;
    border: 1px solid red;
    background-color: rgb(18, 34, 104);
}
form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
  }

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .myLibrary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3%;
    width: 70vw; 
    padding: 3%;
    text-align: center;
    background-color: rgb(102, 102, 102);
    border: 1px blue solid;
  }